html{
    background-color: bisque;
  }

  body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

{style}
  p
  {text-align: center;
    color: deeppink; 
    text
  }
  
  h1
  {
    text-align: center;
  }

    nav a {
      display: block; /* Hace que el enlace sea un bloque para ocupar todo el ancho disponible */
      text-align: center; /* Alinea el texto al centro */
  }